<!DOCTYPE html>
<html lang="en" data-layout-mode="orange">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MinistoreFE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/material.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/select2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/plugins/fontawesome/css/fontawesome.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/plugins/fontawesome/css/all.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/plugins/lineawesome/line-awesome.min.css" asp-append-version="true" />
</head>
<body>

@*    <div class="main-wrapper">
        <div class="page-wrapper container">
            <div class="content container-fluid">
                <main role="main" class="pb-3">
                    
                </main>
            </div>
        </div>
    </div>*@
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/jquery.slimscroll.min.js" asp-append-version="true"></script>
    <script src="~/js/select2.min.js" asp-append-version="true"></script>
    <script src="~/js/moment.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    <script src="~/js/theme-settings.js" asp-append-version="true"></script>
    <script src="~/js/greedynav.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>