@page
@model IndexModel
@using Microsoft.Extensions.Configuration

@{
    var role = HttpContext.Session.GetString("Role");
    var layout = "_LayoutManager";
    if (Constants.Role.IsSafeGuard(role))
    {
        layout = "_LayoutSafeguard";
    }
    if (Constants.Role.IsSalesMan(role))
    {
        layout = "_LayoutSalesman";
    }
}
@{
    ViewData["Title"] = "Home page";
    Layout = layout;
}

<div class="">
    <h1 class="">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
