@page
@model MinistoreFE.Pages.Manager.Staff.CreateModel
@{
}
@{
	ViewData["Title"] = "Staff";
	Layout = "_LayoutManager";
}
<div class="page-wrapper">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Salesman</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-page="./Index">Manager</a>
                    </li>
                    <li class="breadcrumb-item active">Create</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Create staff</h4>
                    <h4></h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group row">
                            <label class="col-form-label col-md-2" minlength="3" maxlength="20">Staff Id</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="StaffId">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Password</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" minlength="3" name="Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Staff name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" minlength="3" name="StaffName" >
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Role</label>
                            <div class="col-md-10">
                                <select class="form-control form-select" name="role">
                                    <option value="SG">Safeguard</option>
                                    <option value="SM">Salesman</option>
                                    <option value="MG">Manager</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Salary</label>
                            <div class="col-md-10">
                                <input type="number" class="form-control" min="0" name="Salary" >
                            </div>
                        </div>
                        <div class="form-group row">
                            @if (ViewData["Message"] != null)
                            {
                                <p style="color:red">@ViewData["Message"]</p>
                            }
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
        </div>